/******************************************* RD NAVBAR **********************************************/

/* LAPTOP 1280x720 */
@media all and (min-width: 1279px) {
    
}

/* IPHONE6/7/8 */

@media all and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {
    .container {
        width: 100%!important;
        margin: 0 0 0 0!important;
    }
    
    #change-pwd {
        font-size: 12px!important;
        margin-top: 15px;
        
    }
    
    #submit {
        font-size: 12px!important;
        margin-top: 15px;
    }
}

@media all and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
    .container {
        width: 80%!important;
    }
    
    #change-pwd {
        font-size: 12px!important;
        margin-top: 15px;
        
    }
    
    #submit {
        font-size: 12px!important;
        margin-top: 15px;
    }
}

/* IPHONE 6/7/8PLUS */

@media all and (min-width: 414px) and (max-width: 1278px) and (orientation: portrait) {
    .container {
        width: 100%!important;
        margin: 0 0 0 0!important;
    }
    
    #change-pwd {
        font-size: 12px!important;
        margin-top: 15px;
        
    }
    
    #submit {
        font-size: 12px!important;
        margin-top: 15px;
    }   
}

@media all and (min-width: 736px) and (max-width: 1279px) and (orientation: landscape) {
    .container {
        width: 75%!important;
    }
}

/* IPHONE SE */

@media all and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
    .container {
        width: 100%!important;
        margin: 0 0 0 0!important;
    }
    
    #change-pwd {
        font-size: 10px!important;
        margin-top: 15px;
        
    }
    
    #submit {
        font-size: 11px!important;
        margin-top: 15px;
    }
}

@media all and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
    .container {
        width: 75%!important;
    }
}
/******************************************* RD NAVBAR END *********************************************/

/************************ GLOBAL *************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 15px/1.5 Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FAFAFA;
    height: 100%;
}

.container {
    width: 40%;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 30px #888888;
    margin: 0 auto 25px auto;
}

header {
    margin: 20px auto;
}

header a img {
    display: block;
    margin: 0 auto;
}

button {
    width: 30%;
    margin-left: 35%;
    height: 30px;
    background-color: #aa0000;
    border: none;
    color: #fff;
}

button:hover {
    background-color: #fa0000;
}

input {
    width: 80%;
    padding: 0 5px;
    height: 35px;
    margin-left: 10%;
    margin-bottom: 8px;
}

form {
    display: inline-block;
    width: 100%;
}

textarea {
    width: 80%;
    margin-left: 10%;
    height: 75px;
    resize: none;
    padding: 5px 5px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #aa0000;
}

a p:hover {
    color: red;
}

a p {
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.70em;
    font-weight: 700;
    display: inline-block;
    margin-left: 10%;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile + label + i:hover {
    color: red;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

#profile_picture {
    width: 60%;
    margin: 0 20%;
    border: 1px dashed #aa0000;
}

#change_pp {
    display: none;
    width: 90%;
    margin: 0 5%;
}

h2 {
    font-size: 15px;
    text-align: center;
}

/***************************** GLOBAL END ***********************/