/******************************************* RD NAVBAR **********************************************/

/* LAPTOP 1280x720 */
@media all and (min-width: 1279px) {
    
}

/* IPHONE6/7/8 */

@media all and (min-width: 375px) and (max-width: 413px) and (orientation: portrait) {
    .form-container {
        width: 90%!important;
        height: auto!important;
        margin: 50px 5% 50px 5%!important;
    }
    
    .login-form input {
        width: 80%!important;
        margin: 0 0 10px 10%!important;
    }
    
    .login-form button {
        width: 80%!important;
        margin: 0 0 10px 32px!important;
    }
    
    .signup-form {
        margin: 0 0 0 0!important;
    }
    
    #agreement {
        width: 80%!important;
        margin: 10px 10%!important;
    }
    
    #check {
        width: 14px!important;
    }
    
    .regis_main {
        width: 80%!important;
        left: 10%!important;
        top: 120px!important;
        height: auto!important;
    }
}

@media all and (min-width: 667px) and (max-width: 735px) and (orientation: landscape) {
    .form-container {
        width: 80%!important;
        height: auto!important;
        padding: 20!important;
        margin: 10px 0 10px 10%!important;
    }
    
    #agreement {
        width: 80%!important;
        margin: 10px 10%!important;
    }
    
    #check {
        width: 14px!important;
    }
    
    .regis_main {
        width: 80%!important;
        left: 10%!important;
        top: 40px!important;
        height: auto!important;
    }
    
    .regis_main strong {
        font-size: 12px!important;
    }
    
    .regis_main p {
        font-size: 12px!important;
    }
}

/* IPHONE 6/7/8PLUS */

@media all and (min-width: 414px) and (max-width: 1278px) and (orientation: portrait) {
    .form-container {
        width: 90%!important;
        height: auto!important;
        padding: 20!important;
        margin: 50px 0 50px 5%!important;
    }
    
    #agreement {
        width: 80%!important;
        margin: 10px 10%!important;
    }
    
    .signup-form {
        margin: 0 0 0 0!important;
    }
    
    #check {
        width: 14px!important;
    }  
    
    .regis_main {
        width: 80%!important;
        left: 10%!important;
        top: 200px!important;
        height: auto!important;
    }
}

@media all and (min-width: 736px) and (max-width: 1279px) and (orientation: landscape) {
    .form-container {
        width: 80%!important;
        height: auto!important;
        padding: 20!important;
        margin: 10px 0 10px 10%!important;
    }
    
    .signup-form {
        margin: 0 0 0 0!important;
    }
    
    #agreement {
        width: 80%!important;
        margin: 10px 10%!important;
    }
    
    #check {
        width: 14px!important;
    }
    
    .regis_main {
        width: 80%!important;
        left: 10%!important;
        top: 50px!important;
        height: auto!important;
    }
}

/* IPHONE SE */

@media all and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
    .form-container {
        width: 100%!important;
        height: auto!important;
        padding: 20!important;
        margin: 50px 0 50px 0%!important;
    }
    
    .signup-form {
        margin: 0 0 0 0!important;
    }
    
    #agreement {
        width: 80%!important;
        margin: 8px 10%!important;
    }
    
    #check {
        width: 14px!important;
    }
    
    .regis_main {
        width: 90%!important;
        left: 5%!important;
        top: 80px!important;
    }
}

@media all and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
    .form-container {
        width: 80%!important;
        height: auto!important;
        padding: 20!important;
        margin: 10px 0 10px 10%!important;
    }
    
    #check {
        width: 14px!important;
    }
    
    .regis_main {
        width: 80%!important;
        left: 10%!important;
        top: 1px!important;
        height: auto!important;
    }
    
    .regis_main strong {
        font-size: 12px!important;
    }
    
    .regis_main p {
        font-size: 12px!important;
    }
}
/******************************************* RD NAVBAR END *********************************************/

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    height: 100%;
}

a {
    color: tomato;
}

.form-container {
    width: 30%;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 30px #888888;
    margin: 0 auto 25px auto;
    overflow: auto;
}

.login-form {
    display: inline-block;
    width: 100%;
}

header {
    margin: 20px auto;
}

header a img {
    display: block;
    margin: 0 auto;
}

button {
    width: 70%;
    height: 30px;
    background-color: #aa0000;
    border: none;
    color: #fff;
    border-radius: 2px;
    margin: 0 15%;
}

button:hover {
    background-color: tomato;
    cursor: pointer;
}

input {
    width: 90%;
    padding: 0 5px;
    height: 35px;
    margin:  0 5% 8px 5%;
}

form {
    display: inline-block;
    margin: 0 25px;
}

form p {
    margin-bottom: 5px;
    text-align: center;
}

.login-form p {
    margin-bottom: 5px;
    text-align: center;
}

.signup-form {
    display: inline-block;
    margin: 0 25px;
}

.signup-form p {
    margin-bottom: 5px;
    text-align: center;
}

.login-form a {
    text-decoration: none;
    color: #000;
}

.login-form a:hover {
    color: #aa0000;
}

.error {
    text-align: center; 
    color: red;
}

.success {
    text-align: center;
    color: green;
}

.input-error {
    border-color: red;
}

.error_login {
    margin: 5px 0 0 0;
    font-size: 13px;
    text-align: center;
}

#check {
    height: 14px;
    width: 14px;
}

label[for="check"] {
    font-size: 12px;
}

.country_select {
    width: 90%;
    height: 30px;
    margin: 0px 0 10px 5%;
    border: 1px solid #e6e1e1;
}

.select-error {
    border: 1px solid red;
}

#agreement {
    font-size: 11px;
}

.fb_login {
    width: 60%;
    margin: 0px 20% 5px 20%;
    border-radius: 2px;
    background-color: #3B5998;
}

.fb_login:hover {
    background-color: #8b9dc3;
    cursor: pointer;
}

.google_login {
    width: 60%;
    margin: 0px 20% 8px 20%;
    border-radius: 2px;
    background-color: #d62d20;
}

.google_login:hover {
    background-color: #ed4e42;
    cursor: pointer;
}

#social_username {
    width: 80%;
    margin: 5px 10%;
}

#social_country {
    width: 80%;
    margin: 5px 10%;
}

#social_invite_code {
    width: 80%;
    margin: 5px 10%;
}

#social_submit {
    width: 80%;
    margin: 5px 10%;
}