/******************************************* RESPONSIVE DESIGN **********************************************/

@media only screen and (min-width: 1270px) and (max-width: 1280px) {
    .search-bar {
        width: 200px;
        margin-right: 3.2%!important;
    }

    header a {
        margin-right: 6.1%!important;
    }
}

@media only screen and (min-width: 1098px) and (max-width: 1246px) {
    #logo {
        margin: 0 8% 0 8%!important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1097px) {
    #logo {
        margin: 0 12.5% 0 12.5%!important;
    }

    header a {
        margin-right: 4%!important;
    }

    .search-bar {
        width: 200px!important;
        margin-right: 4.5%!important;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .login-button {
        font-size: 12px;
    }

    .card {
        width: 80%!important;
    }

    .chat_box {
        margin-top: 10%!important;
    }

    .msg_box {
        margin-top: 10%!important;
    }

    .post_main {
        width: 80%!important;
        left: 10%!important;
    }

    .user_r a {
        font-size: 20px!important;
    }
}

@media only screen and (min-width: 760px) and (max-width: 800px) {
    #logo {
        margin: 0 10% 0 10%!important;
    }

    header a {
        margin-right: 4%!important;
    }

    .search-bar {
        margin-right: 5%!important;
        width: 150px!important;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .card {
        width: 80%!important;
    }

    .chat_box {
        margin-top: 10%!important;
    }

    .msg_box {
        margin-top: 10%!important;
    }

    .post_main {
        width: 80%!important;
        left: 10%!important;
    }

    .user_r a {
        font-size: 20px!important;
    }

    .msg_box textarea {
        width: 75%!important;
    }
}

@media only screen and (min-width: 950px) and (max-width: 960px) {
    #logo {
        margin: 0 16% 0 16%!important;
    }

    header a {
        margin-right: 3.5%!important;
    }

    .search-bar {
        width: 175px!important;
        margin-right: 3.8%!important;
    }

    .dropdown-content {
        width: 55px!important;
        padding: 0px!important;
        font-size: 12px;
    }

    .card {
        width: 80%!important;
    }

    .chat_box {
        margin-top: 10%!important;
        margin-bottom: 10%!important;
    }

    .msg_box textarea {
        width: 70%!important;
    }

    .msg_box {
        margin-top: 10%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }
}

@media only screen and (min-width: 413px) and (max-width: 414px) {
    #logo {
        display: none;
    }

    header a {
        margin-right: 4.5%!important;
    }

    .search-bar {
        width: 100px!important;
        margin-right: 7.5%!important;
    }

    input[name='q'] {
        height: 16px;
        font-size: 12px!important;
    }

    .call_post {
        height: 30px!important;
        width: 60px;
        font-size: 11px;
    }

    .dropdown-content {
        font-size: 8.5px;
    }

    .search_result {
        width: 100px!important;
    }

    .login-button {
        font-size: 9px!important;
    }

    .container {
        margin: 25px!important;
    }

    .card {
        width: 100%!important;
    }

    .footer ul li {
        margin: 0 15px!important;
    }

    .footer ul li p {
        font-size: 14px!important;
    }

    .footer ul li a {
        font-size: 12px!important;
    }

    .container-top h2 {
        font-size: 14px!important;
        height: 19px!important;
    }

    .container-top h3 {
        font-size: 14px!important;
        height: 17px!important;
    }

    .container-top p {
        margin-top: 15px!important;
        height: 15px!important;
        font-size: 10px!important;
    }

    .edit-button {
        margin-top: 35px!important;
        width: 60px!important;
        height: 15px!important;
        font-size: 10px;
    }

    .profile-img-profile {
        width: 100px!important;
        height: 100px!important;
        margin-right: 15px!important;
    }

    .chat_box {
        margin-top: 20%!important;
    }

    .msg_box {
        margin-top: 20%!important;
    }

    .msg_box textarea {
        width: 70%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 100%!important;
        left: 0!important;
    }

    .post_main {
        width: 100%!important;
        left: 0%!important;
    }

    .container-users {
        width: 90%!important;
    }

    .user_r img {
        width: 22px!important;
        height: 22px!important;
    }

    .preview_main {
        width: 75% !important;
        left: 12.5% !important;
    }
}

@media only screen and (min-width: 733px) and (max-width: 736px) {
    #logo {
        margin: 0 9% 0 9%!important;
    }

    header a {
        margin-right: 5%!important;
    }

    .search-bar {
        margin-right: 4%!important;
        width: 150px!important;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .card {
        width: 80%!important;
    }

    .chat_box {
        margin-top: 12%!important;
        margin-bottom: 10%!important;
    }

    .msg_box {
        margin-top: 12%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 80%!important;
        left: 10%!important;
        top: 25%!important;
    }

    .post_main {
        width: 100%!important;
        left: 0%!important;
    }

    .user_r img {
        width: 22px!important;
        height: 22px!important;
    }

    .user_r a {
        font-size: 20px!important;
    }

    .preview_main {
        top: 20% !important;
    }
}

@media only screen and (min-width: 660px) and (max-width: 732px) {
    #logo {
        margin: 0 8% 0 8%!important;
    }

    header a {
        margin-right: 4.5%!important;
    }

    .search-bar {
        margin-right: 6%!important;
        width: 125px!important;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .card {
        width: 90%!important;
    }

    .chat_box {
        margin-top: 12%!important;
        margin-bottom: 10%!important;
    }

    .msg_box {
        margin-top: 12%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 80%!important;
        left: 10%!important;
        top: 20%!important;
    }

    .post_main {
        width: 95%!important;
        left: 2.5%!important;
        top: 30%!important;
    }

    #caption {
        width: 95%!important;
    }

    .user_r a {
        font-size: 20px!important;
    }

    .preview_main {
        top: 20% !important;
        width: 25% !important;
        left: 37.5% !important;
    }
}

@media only screen and (min-width: 560px) and (max-width: 640px) {
    #logo {
        display: none;
    }

    header a {
        margin-right: 5%!important;
    }

    .search-bar {
        margin-right: 6.5%!important;
        width: 200px!important;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .card {
        width: 90%!important;
    }

    .container-top h2 {
        font-size: 14px!important;
        height: 19px!important;
    }

    .container-top h3 {
        font-size: 14px!important;
        height: 17px!important;
    }

    .container-top p {
        margin-top: 15px!important;
        height: 15px!important;
        font-size: 10px!important;
    }

    .edit-button {
        margin-top: 35px!important;
        width: 60px!important;
        height: 15px!important;
        font-size: 10px;
    }

    .profile-img-profile {
        width: 100px!important;
        height: 100px!important;
        margin-right: 15px!important;
    }

    .chat_box {
        margin-top: 16%!important;
        margin-bottom: 20%!important;
    }

    .msg_box textarea {
        width: 70%!important;
    }

    .msg_box {
        margin-top: 16%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 80%!important;
        left: 10%!important;
        top: 20%!important;
    }

    .msg_main h2 {
        padding: 0px 0!important;
    }

    .msg_content h3 {
        font-size: 10px!important;
    }

    .post_main {
        width: 80%!important;
        left: 10%!important;
        top: 22.5%!important;
    }

    #caption {
        width: 95%!important;
    }

    .user_r a {
        font-size: 20px!important;
    }
}

@media only screen and (min-width: 530px) and (max-width: 560px) {
    #logo {
        display: none;
    }

    header a {
        margin-right: 5%!important;
    }

    .search-bar {
        margin-right: 6.5%!important;
        width: 175px!important;
    }

    .dropdown-content {
        font-size: 12px;
    }

    .card {
        width: 90%!important;
    }

    .container-top h2 {
        font-size: 14px!important;
        height: 19px!important;
    }

    .container-top h3 {
        font-size: 14px!important;
        height: 17px!important;
    }

    .container-top p {
        margin-top: 15px!important;
        height: 15px!important;
        font-size: 10px!important;
    }

    .edit-button {
        margin-top: 35px!important;
        width: 60px!important;
        height: 15px!important;
        font-size: 10px;
    }

    .profile-img-profile {
        width: 100px!important;
        height: 100px!important;
        margin-right: 15px!important;
    }

    .chat_box {
        margin-top: 16%!important;
        margin-bottom: 20%!important;
    }

    .msg_box textarea {
        width: 75%!important;
    }

    .msg_box {
        margin-top: 16%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 80%!important;
        left: 10%!important;
        top: 21%!important;
    }

    .msg_main h2 {
        padding: 0px 0!important;
    }

    .msg_content h3 {
        font-size: 10px!important;
    }

    .post_main {
        width: 80%!important;
        left: 10%!important;
        top: 22.5%!important;
    }

    #caption {
        width: 93%!important;
    }

    .container-users {
        width: 90%!important;
    }
}

@media only screen and (max-width: 412px) {
    #logo {
        display: none;
    }

    header a {
        margin-right: 4.5%!important;
    }

    .search-bar {
        width: 100px!important;
        margin-right: 7.5%!important;
    }

    input[name='q'] {
        height: 16px!important;
        font-size: 12px!important;
    }

    .call_post {
        height: 30px!important;
        width: 60px;
        font-size: 11px;
    }

    .dropdown-content {
        font-size: 8px;
    }

    .login-button {
        font-size: 10px;
        height: 20px;
    }

    .search_result {
        width: 100px!important;
    }

    .container {
        margin: 15px!important;
    }

    .card {
        width: 100%!important;
    }

    .footer ul li {
        margin: 0 15px!important;
    }

    .footer ul li p {
        font-size: 14px!important;
    }

    .footer ul li a {
        font-size: 12px!important;
    }

    .container-top h2 {
        font-size: 14px!important;
        height: 19px!important;
    }

    .container-top h3 {
        font-size: 14px!important;
        height: 17px!important;
    }

    .container-top p {
        margin-top: 15px!important;
        height: 15px!important;
        font-size: 10px!important;
    }

    .edit-button {
        margin-top: 35px!important;
        width: 60px!important;
        height: 15px!important;
        font-size: 10px;
    }

    .profile-img-profile {
        width: 100px!important;
        height: 100px!important;
        margin-right: 15px!important;
    }

    .chat_box {
        margin-top: 18%!important;
        margin-bottom: 20%!important;
    }

    .msg_box textarea {
        width: 70%!important;
    }

    .msg_box {
        margin-top: 18%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 100%!important;
        left: 0%!important;
        top: 20%!important;
    }

    .post_main {
        width: 95%!important;
        left: 2.5%!important;
    }

    #caption {
        width: 93%!important;
    }

    .container-users {
        width: 90%!important;
    }
}

@media only screen and (max-width: 384px) {
    header a {
        margin-right: 2%!important;
    }

    .container {
        margin: 15px!important;
    }

    .card {
        width: 100%!important;
    }

    .footer ul li {
        margin: 0 15px!important;
    }

    .footer ul li p {
        font-size: 14px!important;
    }

    .footer ul li a {
        font-size: 12px!important;
    }

    .container-top h2 {
        font-size: 14px!important;
        height: 19px!important;
    }

    .container-top h3 {
        font-size: 14px!important;
        height: 17px!important;
    }

    .container-top p {
        margin-top: 15px!important;
        height: 15px!important;
        font-size: 10px!important;
    }

    .edit-button {
        margin-top: 35px!important;
        width: 60px!important;
        height: 15px!important;
        font-size: 10px;
    }

    .profile-img-profile {
        width: 100px!important;
        height: 100px!important;
        margin-right: 15px!important;
    }

    .chat_box {
        margin-top: 20%!important;
        margin-bottom: 15%!important;
    }

    .msg_box {
        margin-top: 20%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }

    .msg_main {
        width: 100%!important;
        left: 0!important;
    }

    .post_main {
        width: 95%!important;
        left: 2.5%!important;
    }

    #caption {
        width: 93%!important;
    }

    .container-users {
        width: 90%!important;
    }

    .user_r img {
        width: 22px!important;
        height: 22px!important;
    }

    .preview_main {
        top: 15% !important;
        width: 75% !important;
        left: 12.5% !important;
    }
}

@media only screen and (max-width: 360px) {
    header a {
        margin-right: 2%!important;
    }

    .search-bar {
        width: 95px!important;
    }

    .call_post {
        margin-right: 1.5%!important;
    }

    .login-button {
        font-size: 10px;
    }

    .footer ul li {
        margin: 0 7.5px!important;
    }

    .footer ul li p {
        font-size: 14px!important;
    }

    .footer ul li a {
        font-size: 12px!important;
    }

    .chat_box {
        margin-top: 22%!important;
        margin-bottom: 20%!important;
    }

    .msg_box textarea {
        width: 70%!important;
    }

    .msg_box {
        margin-top: 22%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }
}

@media only screen and (max-width: 320px) {
    .container-header {
        width: 100%!important;
    }

    header a {
        margin-right: 4%!important;
    }

    .search-bar {
        width: 60px!important;
        margin-right: 9%!important;
    }

    input[name='q'] {
        font-size: 10px!important;
    }

    .dropdown-content {
        font-size: 8px;
    }

    .container {
        margin: 15px!important;
    }
    
    .card {
        width: 100%!important;
    }

    .footer ul li {
        margin: 0 7.5px!important;
    }

    .footer ul li p {
        font-size: 12px!important;
    }

    .footer ul li a {
        font-size: 10px!important;
    }

    .profile-img-profile {
        margin-right: 15px!important;
    }

    .chat_box {
        margin-top: 25%!important;
        margin-bottom: 20%!important;
    }

    .msg_box textarea {
        width: 70%!important;
    }

    .msg_box {
        margin-top: 25%!important;
    }

    .fa-paper-plane {
        margin-right: 0!important;
    }
}

/******************************************* RESPONSIVE DESIGN END *********************************************/

/******************************************* GLOBAL *********************************************/

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    height: 100%;
}

#logo {
    margin: 0 12% 0 12%;
    height: 20px;
}

header{
    background-color: #fff;
    padding-top: 15px;
    min-height: 48px;
    border-bottom: 1px solid #afafaf;
    box-shadow: 0px 0px 10px #888888;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

header a{
    margin-right: 6.301%;
}

.container-header {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.search-bar {
    width: 250px;
    display: inline-block;
    margin-right: 4.33%;
}

input[name='q'] {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #000;
    border-radius: 12px;
}

.call_post {
    margin-right: 1.75%;
    background: #fff;
    color: #aa0000;
    border: 1px solid #aa0000;
    border-radius: 12px;
    padding: 2px 4px;
    height: 30px;
}

.call_post:hover {
    background: #aa0000;
    color: #fff;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
}

.dropdown-content a {
    background: #dddddd;
    padding: 5px;
    color: #000;
}

.dropdown a:hover {background-color: #f1f1f1}

a {
    text-decoration: none;
    color: #aa0000;
}

#posts-container {
    margin: 0px 0 100px 0;
}

#posts-container-like {
    margin: 100px 0 100px 0;
}

.fa:hover{
    color:red;
}

.fa{
   color: black;
}

.fa-heart {
    color: #aa0000;
}

.fa-heart:hover {
    cursor: pointer;
}

.fa-heart-o:hover {
    cursor: pointer;
}

.fa-flag:hover {
    cursor: pointer;
}

.fa-envelope-o:hover {
    cursor: pointer;
}

.fa-times:hover {
    cursor: pointer;
}

.container {
    margin: 50px;
    top: 50px;
    bottom:0;
}

.card {
    background: #FFF;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #888888;
}

.card-header{
    padding: 10px;
}

.time {
    float: right;
    font-weight: normal;
    font-size: 12px;
}

.time:hover {
    text-decoration: underline;
}

.location{
    font-size: 12px;
    color: 111;
}

.name{
    font-size: 14px;
    font-weight: 700;
}

.content img{
    width: 100%;
    height: 100%;
}

.card-footer{
    box-sizing: border-box;
    padding: 15px;
}

.description p {
    margin: 0;
    font-size: 14px;
    padding: 0 0 15px 0;
}

.username{
    font-weight: 800;
    font-size: 14px;
}
.likes{
    color: #a8a8a8;
    padding-bottom: 10px;
}

.likes p {
    font-size: 14px;
}

.comments p{
     margin: 0;
    font-size: 14px; 
    padding: 0 0 5px 0;
}

.post_form_bottom {
    overflow: auto;
    padding: 10px 0 0 0;
}

hr{
    padding: 0;
}

.add-comment{
    width: 70%;
    display: inline-block;
    padding: 5px;
    font-weight: 15px;
}

.heart{
    float: left;
    margin: 0 41% 0 0;
}

.heart_noremove {
    float: left;
    margin: 0 41% 0 0;
}

.remove {
    float: right;
}

.remove button {
    background: none;
    border: none;
}

.flag {
    float: right;
}

.direct_message {
    float: left;
}

input{
    width: 100%;
    border: 0px solid #fff
}

.footer {
    width: 100%;
    height: 50px;
    color: #aa0000;
    padding: 25px 0 0 0;
    position: absolute;
    bottom:0;
}

.footer ul {
    float: left;
}

.footer ul li {
    display: inline-block;
    margin: 0 30px;
}

.footer ul li p {
    font-weight: bold;
    font-size: 18px;
}

.footer ul li a {
    text-decoration: none;
    color: #aa0000;
}

.footer ul li a:hover {
    color: grey;
}

.show {display:block;}

.login-button {
    background-color: #fff;
    border: 1px solid #aa0000;
    border-radius: 12px;
    color: #aa0000;
    height: 30px;
    padding: 2px 4px;
}

.login-button:hover {
    background-color: #aa0000;
    color: #fff;
}

.post {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.post_close {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}

.post_main {
    width: 50%;
    height: auto;
    background: #fff;
    z-index: 15;
    position: fixed;
    top: 35%;
    border-radius: 4px;
    left: 25%;
    display: none;
    padding-bottom: 5px;
}

.post_main h2 {
    text-align: center;
    border-bottom: 1px solid #afafaf;
    padding: 10px 0;
}

.post_content {
    background: #FAFAFA;
    padding-bottom: 10px;
}

textarea {
    font-size: 16px;
    width: 95%;
    height: 100px;
    resize: none;
    padding: 5px 5px;
    margin: 10px 1.5%;
    border-radius: 6px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.70em;
    font-weight: 700;
    color: white;
    display: inline-block;
    margin-left: 1.5%;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile + label + i:hover {
    color: red;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

.inputfiles {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfiles + label {
    font-size: 1.70em;
    font-weight: 700;
    color: white;
    display: inline-block;
    margin-left: 1.5%;
}

.inputfiles + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfiles + label + i:hover {
    color: red;
}

.inputfiles:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfiles + label * {
	pointer-events: none;
}

.post-form button {
    width: 15%;
    height: 1.75em;
    margin-top: 3px;
    float: right;
    margin-right: 1.5%;
    background-color: #e53232;
    border: 1px;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 15px;
}

.post-form button:hover {
    color: #fff;
    background: #aa0000;
    cursor: pointer;
}

#no_post {
    text-align: center;
}

#preview {
    height: 125px;
    object-fit: cover;
    margin: 10px 0 0 10px;
    display: none;
    float: left;
}

#cancel_preview {
    width: 10%;
    height: 1.75em;
    float: left;
    margin-left: 1.5%;
    margin-top: 112px;
    background-color: #e53232;
    border: 1px;
    border-radius: 12px;
    color: #fff;
    display: none;
}

#cancel_preview:hover {
    color: #fff;
    background: #aa0000;
    cursor: pointer;
}

.search_result {
    width: 200px;
    position: fixed;
    display: none;
}

.caption {
    overflow-wrap: break-word;
}

.fa-circle {
    float: right;
    color: #aa0000;
}

.fa-circle:hover {
    color: rgb(238, 234, 234);
}

.load_drop {
    width: 15%;
    margin: 0% 42.5% 4% 42.5%;
    background: #fff;
    border: 1px solid #aa0000;
    color: #aa0000;
    font-size: 14px;
    padding: 5px;
    border-radius: 12px;
}

.load_drop:hover {
    background: #aa0000;
    color: #fff;
    cursor: pointer;
}

.refresh {
    margin: 100px auto 0 auto;
    width: 1.98%;
}

.refresh:hover {
    cursor: pointer;
}

.fa-stack[count]:after{
    position:absolute;
    right: 5%;
    bottom: 21%;
    margin: 0 0 50% 50%;
    content: attr(count);
    font-size:60%;
    padding:.4em;
    border-radius:50px;
    line-height:.75em;
    color: white;
    background:#aa0000;
    text-align:center;
    min-width:.4em;
    font-weight:bold;
  }


/******************************************* GLOBAL END *********************************************/


/******************************************* INDEX *********************************************/

.profile-img-index{
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.profile-img-index img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

.profile-info{
    display: inline-block;
}

/******************************************* INDEX END *********************************************/

/******************************************* PROFILE *********************************************/

.profile-picture {
    display: none;
    position: fixed;
    z-index: 20;
    height: 90px;
    background: #fff;
    box-shadow: 0px 0px 10px #888888;
}

.profile-picture li {
    font-size: 12px;
    color: #000;
    height: 25px;
    padding: 10px;
    text-align: center;
}

.profile-picture li:hover {
    background: #aa0000;
    cursor: pointer;
}

.profile-picture li label {
    font-size: 16px;
    color: #000;
    font-weight: 100;
}

.container-top {
    margin-top: 64px;
    padding: 25px;
    border: 1px solid #e9e8e8;
    overflow: hidden;
    background: #fcfcfc;
}

.container-top h2 {
    font-size: 40px;
    height: 45px;
}

.container-top h3 {
    font-size: 20px;
    font-weight: 50;
    height: 23px;
    color: #aa0000;
}

.container-top p {
    margin-top: 50px;
    height: 21px;
    font-size: 16px;
}

.profile-img-profile {
    float: left;
    margin-right: 50px;
    width: 250px;
    height: 250px;
    border: 1px solid #fcfcfc;
    z-index: 10;
}

.profile-img-profile:hover {
    border: 1px solid #aa0000;
    cursor: pointer;
}

.edit-button {
    margin-top: 86px;
    float: right;
    width: 100px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #aa0000;
    border-radius: 12px;
    color: #aa0000;
}

.edit-button:hover {
    background-color: #aa0000;
    color: #fff;
}

.input-profile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.post-profile-img{
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    top: 3px;
    margin-right: 10px;
}

.post-profile-img img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 50%;
}

#no_post_profile {
    text-align: center;
    margin-top: 50px;
}

/******************************************* PROFILE END *********************************************/

/******************************************* DM *********************************************/

.chat_box {
    background: rgb(230, 224, 224);
    width: 80%;
    height: 560px;
    margin: 6% auto;
    border-radius: 5px;
}

.chat_head {
    background: rgb(230, 224, 224);
    padding: 20px;
    height: 25px;
    color: black;
    border-radius: 5px;
}

.chat_head p {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.message_button {
    float: right;
    width: 100px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #aa0000;
    color: #aa0000;
    border-radius: 20px;

}

.message_button:hover {
    background-color: #aa0000;
    color: #fff;
}

.chat_body {
    height: 525px;
}

.user {
    padding: 20px;
    background: rgb(238, 234, 234);
    cursor: pointer;
    border-bottom: groove 1px; 
    height: 50px;
    font-weight: bold;
}

.user:hover {
    background: #000;
    color: white;
}

.user .time {
    margin-top: 5px;
}

#from {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.last_text {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#no_inbox {
    text-align: center;
    margin-top: 20px;
}

.msg_pop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.msg_close {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}

.msg_main {
    width: 50%;
    background: #fff;
    z-index: 4;
    position: fixed;
    top: 35%;
    border-radius: 4px;
    left: 25%;
    display: none;
}

.msg_main h2 {
    text-align: center;
    border-bottom: 1px solid #afafaf;
    padding: 10px 0;
}

.msg_content {
    padding: 10px;
    background: #FAFAFA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msg_content label {
    margin-left: 10px;
}

.msg_content input[name="to"] {
    width: 50%;
    height: 20px;
    padding: 5px;
}

.new_msg_input {
    height: 85px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msg_content #send {
    float: right;
}

#send {
    margin-right: 3.5%;
    margin-bottom: 1%;
    background: #fff;
    border: 1px solid #aa0000;
    padding: 1%;
    color: #aa0000;
    border-radius: 12px;
}

#send:hover {
    color: #fff;
    background: #aa0000;
}

.msg_content h3 {
    font-size:12px;
    margin-left: 1.5%;
}

.msg_content input[name='to'] {
    width: 50%;
    margin-left: 1.5%;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

#error_msg {
    font-size: 12px;
    margin-left: 1.5%;
    float: left;
    color: red;
}

#result {
    width: 23.5%;
    margin-left: 0.75%;
    position: fixed;
    display: none;
}

.user_r {
    overflow: auto;
    background: #fff;
}

.user_r:hover {
    background: #000;
}

.user_r img {
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin: 2% 4%;
    float: left;
}

.user_r a {
    font-size: 16px;
}

.user_r a:hover {
    text-decoration: underline;
}

.msg_box {
    margin: 6% auto;
    width: 80%;
    height: 560px;
    border-radius: 5px;
}

.msg_head {
    height: 25px;
    background: rgb(230, 224, 224);
    padding: 20px;
    border-radius: 5px;
}

.close {
    font-size: 20px;
    float: right;
}

.msg_body {
    height: 400px;
    background: white;
    font-size: 14px;
    overflow: auto;
    overflow-x: hidden;
    padding: 5px 25px;
}

.msg_input {
    height: 85px;
    padding: 3px;
    width: 100%;
    resize: none;
    margin-bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.msg_a {
    margin-left: 45%;
    width: 55%;
    padding: 12px;
    margin-bottom: 5px;
    background: #aa0000;
    position: relative;
    color: white;
    border-radius: 25px;
    word-break: break-all;
}

.msg_a_img {
    margin-left: 77%;
    width: 25%;
    position: relative; 
    word-break: break-all;
}

.msg_a_img img {
    width: 100%;
    border-radius: 25px;
}

.msg_b {
    margin-right: 45%;
    width: 55%;
    padding: 12px;
    margin-bottom: 5px;
    background: rgb(230, 224, 224);
    position: relative; 
    border-radius: 25px;
    word-break: break-all;
}

.msg_b_img {
    width: 25%;
    position: relative; 
    word-break: break-all;
}

.msg_b_img img {
    width: 100%;
    border-radius: 25px;
}

.msg_box textarea {
    margin-top: 3.5%;
    font-size: 12px;
    width: 85%;
    height: 30px;
    resize: none;
    padding: 5px 5px;
    border-radius: 6px;
    float: left;
}

.msg_box label {
    margin: 3.5% 3% 0 0;
    float: right;
}

.fa-paper-plane {
    margin: 4.5% 3% 0 0;
    float: right;
}

.fa-paper-plane:hover {
    cursor: pointer;
}

ul li h2 {
    color: #aa0000;
}

.preview {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.preview_close {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}

.preview_main {
    width: 25%;
    height: auto;
    background: #fff;
    z-index: 15;
    position: fixed;
    top: 10%;
    border-radius: 4px;
    left: 37.5%;
    display: none;
    padding-bottom: 5px;
}

.preview_main h2 {
    text-align: center;
    border-bottom: 1px solid #afafaf;
    padding: 10px 0;
}

.preview_content {
    background: #FAFAFA;
    padding-bottom: 10px;
}

#preview_send {
    width: 75%;
    margin: 0 12.5%;
}

#preview_close {
    width: 25%;
    height: 2em;
    float: left;
    margin-left: 1.5%;
    background-color: #e53232;
    border: 1px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
}

#preview_close:hover {
    color: #fff;
    background: #aa0000;
    cursor: pointer;
}

#preview_cancel {
    width: 25%;
    height: 2em;
    float: right;
    margin-right: 1.5%;
    background-color: #e53232;
    border: 1px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
}

#preview_cancel:hover {
    color: #fff;
    background: #aa0000;
    cursor: pointer;
}

/******************************************* DM END *********************************************/

/******************************************* SEARCH *********************************************/

#posts-container-search {
    margin: 0px 0 100px 0;
}

#no_post_search {
    text-align: center;
}

.container-users {
    width: 60%;
    padding-bottom: 1%;
    margin: 100px auto 75px auto;
    background: #fff;
    border: 1px solid #f7f4f4;
    box-shadow: 0px 0px 10px #e6e1e1;
}

.container-users h2 {
    margin-bottom: 10px;
    text-align: center;
}

.container-users hr {
    width: 90%;
    margin: 0 auto;
    color: #f7f4f4;
}

.user_result {
    box-sizing: content-box;
    width: 90%;
    overflow: auto;
    margin: 0 auto;
    color: #aa0000;
}

.user_result:hover {
    background: #000;
}

.user_result img {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 0.25% 15% 0.25% 2%;
}

.user_result span {
    font-size: 22px;
}

.load_users {
    width: 30%;
    margin: 5% 35% 0 35%;
    background: #fff;
    border: 1px solid #aa0000;
    color: #aa0000;
    font-size: 14px;
    padding: 5px;
    border-radius: 12px;
}

.load_users:hover {
    background: #aa0000;
    color: #fff;
}

/******************************************* SEARCH END *********************************************/

/******************************************* FLAG *******************************************/

.flag_pop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

.flag_close {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}

.flag_main {
    width: 50%;
    background: #fff;
    z-index: 4;
    position: fixed;
    top: 35%;
    border-radius: 4px;
    left: 25%;
    display: none;
}

.flag_main h2 {
    text-align: center;
    border-bottom: 1px solid #afafaf;
    padding: 10px 0;
}

.flag_content {
    padding: 10px;
    background: #FAFAFA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flag_content label {
    margin-left: 10px;
}

.flag_content input[name="to"] {
    width: 50%;
    height: 20px;
    padding: 5px;
}

.flag_content h3 {
    font-size:12px;
    margin-left: 1.5%;
}

.flag_content input[name='to'] {
    width: 50%;
    margin-left: 1.5%;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

.flag_content #send_report {
    float: right;
}

.report_input {
    height: 85px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#count {
    font-size: 12px;
    margin-left: 1.5%;
    float: left;
    color: #aa0000;
}

#send_report {
    margin-right: 3.5%;
    margin-bottom: 1%;
    background: #fff;
    border: 1px solid #aa0000;
    padding: 1%;
    color: #aa0000;
    border-radius: 12px;
}

#send_report:hover {
    color: #fff;
    background: #aa0000;
}

#error_report {
    font-size: 12px;
    margin-left: 1.5%;
    float: left;
    color: red;
}

/******************************************* FLAG END *************************************************/
/******************************************* TofU *************************************************/

.terms_body {
    margin: 100px 10% 25px 10%;
}

.terms_body h1 {
    text-align: center;
    font-size: 20px;
}

.terms_body h2 {
    text-align: center;
    font-size: 18px;
}

.terms_body h3 {
    text-align: center;
    font-size: 18px;
    color: #aa0000;
}

.terms_body p {
    
    font-size: 16px;
}

.terms_body p a:hover {
    text-decoration: underline;
}

/******************************************* TofU END *************************************************/